:root {
    --main-bg-color: #fff;
    --pink: #ff8f9c;
    --black-text: #212121;
    --black: #000;
    --top-header-size: 50px;
    --mid-header-size: 100px;
    --bottom-header-size: 50px;
    --border-color: #787878;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    position: relative;
    background-color: var(--main-bg-color);
}

button {
    cursor: pointer;
}

a {
    display: inline-block;
    text-decoration: none;
    color: unset;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1366px;
    margin: auto;
    padding: 0 20px;
    position: relative;
}

.bg-main {
    background-color: var(--main-bg-color);
}

.text-red {
    color: var(--red);
}

.box {
    padding: 20px;
}

.section {
    padding: 60px 0;
}

/* heander */
.mobile-menu {
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    display: none;
}

.mb-menu-close {
    display: none;
}

.top-header {
    height: var(--top-header-size);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-header ul {
    display: flex;
}

ul.devided>li {
    margin-right: 10px;
    padding-right: 10px;
}

/* dropdown */
.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-content {
    display: flex;
    top: 100%;
    opacity: 1;
    visibility: visible;
}

.dropdown-content {
    /* display: flex; */
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: calc(100% + 10px);
    background-color: #fff;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0;
    transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
    z-index: 2;
}

.dropdown-content>li>a {
    padding: 10px;
}

.dropdown-content>li:hover {
    color: var(--red);
}

/* end dropdown */


/* end header */